<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <a class="navbar-brand m-1" id="brand" href="/search" style="color: cyan;">Flack</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler"
        aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarToggler">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <button type="button" id="ChannelListButton" class="btn btn-outline-info my-1 mx-sm-1">Channel List</button>
            </li>
            <li class="nav-item">
                <button type="button" id="ChangeNameButton" class="btn btn-outline-info my-1 mx-sm-1">Change Name</a>
            </li>
        </ul>
    </div>
</nav>