#ChannelList table a:hover {
  color: #007bff;
  text-decoration: none;
}

#ChannelList table td a {
  display: block;
  color: #007bff;
  padding: 10px;
}

#ChannelList table td {
  padding: 0;
}

#info {
  padding: 1rem
}

#loginform, #CreateChannelForm, #ChannelList, #ChangeName, #ChannelList, #ChannelListButton, #MessagesList {
  display: none;
}