#ChannelList table a:hover {
  color: #007bff;
  text-decoration: none;
}

#ChannelList table td a {
  display: block;
  color: #007bff;
  padding: 10px;
}

#ChannelList table td {
  padding: 0;
}

#info {
  padding: 1rem
}

#loginform, #CreateChannelForm, #ChannelList, #ChangeName, #ChannelList, #ChannelListButton, #MessagesList {
  display: none;
}

#MessagesList ul {
  height: 10rem;
  overflow: hidden; 
  overflow-y: scroll;
  /* become a flex-container */
  /* its children will be flex-items */
  display: flex;
  /* move flex-items in column */
  flex-direction: column;
}

#MessagesList ul :first-child {
  margin-top: auto;
}

#messages li {
  list-style: none;
}